/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Chai implementation : © Steve Chai <happysteve@gmail.com>
 * Chai implementation : © Steve Immer <remmievets@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * chaisji.css
 *
 * chaisji stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (chaisji_chaisji.tpl), and to HTML elements you create dynamically
    (in chaisji.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/* Class to put light shadow around objects */
.shadow {
    -moz-box-shadow: 1px 1px 2px 1px #222;
    -webkit-box-shadow: 1px 1px 2px 1px #222;
    -o-box-shadow: 1px 1px 2px 1px #222;
    box-shadow: 1px 1px 2px 1px #222;
}

/* item can be selected */
.active_slot {
    cursor: pointer;
    box-shadow: 0px 0px 4px 2px #03afbd !important
}

.selected_slot {
    cursor: pointer;
    box-shadow: 0px 0px 1px 5px darkblue !important;
}

/* Top level game area class */
.anchor {
    /*position: relative;*/
    /*width: 100%;*/
    max-width: 1076px;
    /*height: auto;*/
    margin: auto;
    display: block;
    overflow: auto;
    /*text-align: center;*/
}

.center_area {
    text-align: center;
}

.board_area {
    margin: 10px;
    text-align: center;
    position: relative;
    float: left;
}

#market_board {
    width: 480px;
    height: 400px;
    position: relative;
    background-image: url('img/market.jpg');
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

.market_row {
    position: absolute;
    display: flex;
    height: 75px;
    width: 475px;
    gap: 6px;
}
#market_1 { left: 4px; top:  81px; }
#market_2 { left: 4px; top: 182px; }
#market_3 { left: 4px; top: 283px; }

.flavor {
    display: inline-flex;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-image: url('img/flavors.png');
}

/* for player panel */
.ppflavor {
    width: 30px;
    border-radius: 10px;
    background-image: url('img/flavors.png');
    background-size: 210px;
}

.flavor_lemon    { background-position: calc(100%/ 6 * 0) 0%; }
.flavor_mint     { background-position: calc(100%/ 6 * 1) 0%; }
.flavor_berries  { background-position: calc(100%/ 6 * 2) 0%; }
.flavor_jasmine  { background-position: calc(100%/ 6 * 3) 0%; }
.flavor_lavender { background-position: calc(100%/ 6 * 4) 0%; }
.flavor_ginger   { background-position: calc(100%/ 6 * 5) 0%; }
.flavor_wild     { background-position: calc(100%/ 6 * 6) 0%; }

#pantry_board {
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url('img/pantry.jpg');
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

.spot {
    width: 90px;
    height: 90px;
    position: absolute;
}
#spot_1 { left: 100px; top:  80px; }
#spot_2 { left: 203px; top:  87px; }
#spot_3 { left: 237px; top: 183px; }
#spot_4 { left: 152px; top: 242px; }
#spot_5 { left:  72px; top: 180px; }

.additive {
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-flex;
    background-image: url('img/additives.png');
    border-radius: 45px;
}

/* for player panel */
.ppadditive {
    width: 60px;
    height: 60px;
    background-image: url('img/additives.png');
    background-size: 180px;
}

.additive_chai    { background-position: calc(100%/ 2 * 0) calc(100%/ 1 * 0); }
.additive_vanilla { background-position: calc(100%/ 2 * 1) calc(100%/ 1 * 0); }
.additive_milk    { background-position: calc(100%/ 2 * 2) calc(100%/ 1 * 0); }
.additive_sugar   { background-position: calc(100%/ 2 * 0) calc(100%/ 1 * 1); }
.additive_honey   { background-position: calc(100%/ 2 * 1) calc(100%/ 1 * 1); }
.additive_awild   { background-position: calc(100%/ 2 * 2) calc(100%/ 1 * 1); }

/* items for player boards at the bottom of the screen */
.player_board {
    clear: both;
}

.nameslot {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nameslot_white {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.pboard {
    width: 750px;
    height: 329px;
    background-size: 750px;
    position: relative;
}

.pboard_full {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#pboard_full_330000 {
    background: rgba(51,0,0,0.3);
}

#pboard_full_00CC00 {
    background: rgba(0,204,0,0.3);
}

#pboard_full_0000FF {
    background: rgba(0,0,255,0.3);
}

#pboard_full_FF0000 {
    background: rgba(255,0,0,0.3);
}

#pboard_full_FFFFFF {
    background: rgba(255,255,255,0.3);
}

.pflavor {
    position: absolute;
    left: 164px; 
    top:  12px;
}

.padditives {
    position: absolute;
    left: 164px; 
    top:  226px;
}

.ptea {
    position: absolute;
    left: 0px; 
    top:  0px;
    width: 150px;
    height: 329px;
}

.pboard_330000 {
    background-image: url('img/chai_playerboard_black.jpg');
}

.pboard_00CC00 {
    background-image: url('img/chai_playerboard_green.jpg');
}

.pboard_0000FF {
    background-image: url('img/chai_playerboard_blue.jpg');
}

.pboard_FF0000 {
    background-image: url('img/chai_playerboard_red.jpg');
}

.pboard_FFFFFF {
    background-image: url('img/chai_playerboard_white.jpg');
}

/* for player panel */
.counter {
    display: inline-block;
    margin-left: 0px;
}

/* for player panel */
.textoverlay {
    color: antiquewhite;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 32px;
}

/* tip jar */
.tipjar {
    display: inline-block;
    position: relative;
    background-image: url('img/chai_tip_jar.png');
    width: 90px;
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

/* cards */
.card {
    display: inline-block;
    position: relative;
    background-image: url('img/chaiCards5x11-small.jpg');
    background-size: 1200px;
    border-radius: 7px;
    z-index: 20;
    width: 108px;
    height: 187px;
    margin: 15px;
}

.customer_0_330000 {
    background-position: calc(100%/ 10 * 0) calc(100%/ 4 * 0);
}

.customer_1_330000 {
    background-position: calc(100%/ 10 * 1) calc(100%/ 4 * 0);
}

.customer_2_330000 {
    background-position: calc(100%/ 10 * 2) calc(100%/ 4 * 0);
}

.customer_3_330000 {
    background-position: calc(100%/ 10 * 3) calc(100%/ 4 * 0);
}

.customer_4_330000 {
    background-position: calc(100%/ 10 * 4) calc(100%/ 4 * 0);
}

.customer_5_330000 {
    background-position: calc(100%/ 10 * 5) calc(100%/ 4 * 0);
}

.customer_6_330000 {
    background-position: calc(100%/ 10 * 6) calc(100%/ 4 * 0);
}

.customer_7_330000 {
    background-position: calc(100%/ 10 * 7) calc(100%/ 4 * 0);
}

.customer_8_330000 {
    background-position: calc(100%/ 10 * 8) calc(100%/ 4 * 0);
}

.customer_9_330000 {
    background-position: calc(100%/ 10 * 9) calc(100%/ 4 * 0);
}

.customer_10_330000 {
    background-position: calc(100%/ 10 * 10) calc(100%/ 4 * 0);
}

.customer_0_00CC00 {
    background-position: calc(100%/ 10 * 0) calc(100%/ 4 * 1);
}

.customer_1_00CC00 {
    background-position: calc(100%/ 10 * 1) calc(100%/ 4 * 1);
}

.customer_2_00CC00 {
    background-position: calc(100%/ 10 * 2) calc(100%/ 4 * 1);
}

.customer_3_00CC00 {
    background-position: calc(100%/ 10 * 3) calc(100%/ 4 * 1);
}

.customer_4_00CC00 {
    background-position: calc(100%/ 10 * 4) calc(100%/ 4 * 1);
}

.customer_5_00CC00 {
    background-position: calc(100%/ 10 * 5) calc(100%/ 4 * 1);
}

.customer_6_00CC00 {
    background-position: calc(100%/ 10 * 6) calc(100%/ 4 * 1);
}

.customer_7_00CC00 {
    background-position: calc(100%/ 10 * 7) calc(100%/ 4 * 1);
}

.customer_8_00CC00 {
    background-position: calc(100%/ 10 * 8) calc(100%/ 4 * 1);
}

.customer_9_00CC00 {
    background-position: calc(100%/ 10 * 9) calc(100%/ 4 * 1);
}

.customer_10_00CC00 {
    background-position: calc(100%/ 10 * 10) calc(100%/ 4 * 1);
}

.customer_0_0000FF {
    background-position: calc(100%/ 10 * 0) calc(100%/ 4 * 2);
}

.customer_1_0000FF {
    background-position: calc(100%/ 10 * 1) calc(100%/ 4 * 2);
}

.customer_2_0000FF {
    background-position: calc(100%/ 10 * 2) calc(100%/ 4 * 2);
}

.customer_3_0000FF {
    background-position: calc(100%/ 10 * 3) calc(100%/ 4 * 2);
}

.customer_4_0000FF {
    background-position: calc(100%/ 10 * 4) calc(100%/ 4 * 2);
}

.customer_5_0000FF {
    background-position: calc(100%/ 10 * 5) calc(100%/ 4 * 2);
}

.customer_6_0000FF {
    background-position: calc(100%/ 10 * 6) calc(100%/ 4 * 2);
}

.customer_7_0000FF {
    background-position: calc(100%/ 10 * 7) calc(100%/ 4 * 2);
}

.customer_8_0000FF {
    background-position: calc(100%/ 10 * 8) calc(100%/ 4 * 2);
}

.customer_9_0000FF {
    background-position: calc(100%/ 10 * 9) calc(100%/ 4 * 2);
}

.customer_10_0000FF {
    background-position: calc(100%/ 10 * 10) calc(100%/ 4 * 2);
}

.customer_0_FF0000 {
    background-position: calc(100%/ 10 * 0) calc(100%/ 4 * 3);
}

.customer_1_FF0000 {
    background-position: calc(100%/ 10 * 1) calc(100%/ 4 * 3);
}

.customer_2_FF0000 {
    background-position: calc(100%/ 10 * 2) calc(100%/ 4 * 3);
}

.customer_3_FF0000 {
    background-position: calc(100%/ 10 * 3) calc(100%/ 4 * 3);
}

.customer_4_FF0000 {
    background-position: calc(100%/ 10 * 4) calc(100%/ 4 * 3);
}

.customer_5_FF0000 {
    background-position: calc(100%/ 10 * 5) calc(100%/ 4 * 3);
}

.customer_6_FF0000 {
    background-position: calc(100%/ 10 * 6) calc(100%/ 4 * 3);
}

.customer_7_FF0000 {
    background-position: calc(100%/ 10 * 7) calc(100%/ 4 * 3);
}

.customer_8_FF0000 {
    background-position: calc(100%/ 10 * 8) calc(100%/ 4 * 3);
}

.customer_9_FF0000 {
    background-position: calc(100%/ 10 * 9) calc(100%/ 4 * 3);
}

.customer_10_FF0000 {
    background-position: calc(100%/ 10 * 10) calc(100%/ 4 * 3);
}

.customer_0_FFFFFF {
    background-position: calc(100%/ 10 * 0) calc(100%/ 4 * 4);
}

.customer_1_FFFFFF {
    background-position: calc(100%/ 10 * 1) calc(100%/ 4 * 4);
}

.customer_2_FFFFFF {
    background-position: calc(100%/ 10 * 2) calc(100%/ 4 * 4);
}

.customer_3_FFFFFF {
    background-position: calc(100%/ 10 * 3) calc(100%/ 4 * 4);
}

.customer_4_FFFFFF {
    background-position: calc(100%/ 10 * 4) calc(100%/ 4 * 4);
}

.customer_5_FFFFFF {
    background-position: calc(100%/ 10 * 5) calc(100%/ 4 * 4);
}

.customer_6_FFFFFF {
    background-position: calc(100%/ 10 * 6) calc(100%/ 4 * 4);
}

.customer_7_FFFFFF {
    background-position: calc(100%/ 10 * 7) calc(100%/ 4 * 4);
}

.customer_8_FFFFFF {
    background-position: calc(100%/ 10 * 8) calc(100%/ 4 * 4);
}

.customer_9_FFFFFF {
    background-position: calc(100%/ 10 * 9) calc(100%/ 4 * 4);
}

.customer_10_FFFFFF {
    background-position: calc(100%/ 10 * 10) calc(100%/ 4 * 4);
}

.abilitycard {
    display: inline-block;
    background-image: url('img/chai_ability_cards.jpg');
    border-radius: 7px;
    background-size: 1200px;
    z-index: 20;
    width: 300px;
    height: 170px;
    margin: 15px;
}

.card_ability_0 {
    background-position: calc(100%/ 3 * 0) calc(100%/ 1 * 0);
}

.card_ability_1 {
    background-position: calc(100%/ 3 * 1) calc(100%/ 1 * 0);
}

.card_ability_2 {
    background-position: calc(100%/ 3 * 2) calc(100%/ 1 * 0);
}

.card_ability_3 {
    background-position: calc(100%/ 3 * 3) calc(100%/ 1 * 0);
}

.card_ability_4 {
    background-position: calc(100%/ 3 * 0) calc(100%/ 1 * 1);
}

.card_ability_5 {
    background-position: calc(100%/ 3 * 1) calc(100%/ 1 * 1);
}

.card_ability_6 {
    background-position: calc(100%/ 3 * 2) calc(100%/ 1 * 1);
}

.card_ability_7 {
    background-position: calc(100%/ 3 * 3) calc(100%/ 1 * 1);
}

.tea {
    display: inline-flex;
    position: relative;
    z-index: 20;
    margin-left: 5px;
}

/* for player panel */
.pptea {
    background-size: 180px;
}

.tea_330000 {
    background-image: url('img/chai_tea_black.png');
    width: 62px;
    height: 90px;
}

.tea_00CC00 {
    background-image: url('img/chai_tea_green.png');
    width: 51px;
    height: 90px;
}

.tea_0000FF {
    background-image: url('img/chai_tea_blue.png');
    width: 50px;
    height: 90px;
}

.tea_FF0000 {
    background-image: url('img/chai_tea_red.png');
    width: 30px;
    height: 90px;
}

.tea_FFFFFF {
    background-image: url('img/chai_tea_white.png');
    width: 60px;
    height: 90px;
}
